.descriptionBlock, .status {
    margin: 10px;
    padding: 10px;
    display: flex;
    border: 2px solid red;
    width: 60%;
}

.about {
    display: flex;
    flex-direction: column;   
    margin: 15px;
}

b {
    color: yellow;
}