.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}


.pages span {
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 50%;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    color: yellow;
}